HOST=
PORT=3001
APP_URL=
SECRET=
WEB_URL=

CLIENT_NAME=

TYPEORM_CONNECTION=
TYPEORM_HOST=
TYPEORM_PORT=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_SYNCHRONIZE=
TYPEORM_MIGRATIONS_DIR=
TYPEORM_ENTITIES_DIR=
TYPEORM_ENTITIES=
TYPEORM_MIGRATIONS=

SENDGRID_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=